<h5 class="cardHeading">
    TRENDING
</h5>
<ol class="cpeople scrollbar" style="list-style: none;" id="cScroll">
    <li *ngFor='let trend of trends' style="list-style: none">
        <div class="row">
            <mat-card class="example-card mat-elevation-z0">
                <mat-card-header class="header">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="trend_title">{{trend.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="trend_description">
                    <blockquote>
                        {{trend.discription}}
                    </blockquote>
                </mat-card-content>
                <mat-card-actions>
                    <div class="flex_container">
                        <div class="trend_like">
                            <a href=""><i class="material-icons md-18 thumb">thumb_up</i> </a>
                            <p> &nbsp; 100 </p>
                        </div>
                        <div class="trend_like">
                            <a href=""><i class="material-icons md-18 views">visibility</i></a>
                            <p> &nbsp; 100 </p>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </li>
</ol>