<nav id="sidebar">
  <ul class="list-unstyled components">
    <li class="menu-item">
      <a href="#">
        <i class="fab fa-slack-hash fa-lg"></i>
        <span class="d-none d-md-inline"> Dashboard</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
        <i class="fab fa-wpforms fa-lg"></i>
        <span class="d-none d-md-inline"> Forum</span>
      </a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a href="#">Forum Sub Menu</a>
        </li>
        <li>
          <a href="#">Forum Sub Menu</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>