/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~gridstack/dist/gridstack.min.css";
@import url('https://fonts.googleapis.com/css?family=Exo');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";
body {
    background: #EEEEEE;
}

#scScroll::-webkit-scrollbar-track {
    -webkit-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

#cScroll::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}

#cScroll::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #bbbbbb4d;
}

.scrollbar {
    overflow-x: hidden !important;
}

.scrollbar:hover {
    overflow-y: scroll !important;
}