/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~gridstack/dist/gridstack.min.css";
@import url('https://fonts.googleapis.com/css?family=Exo');
body {
    background: #ebeff5;
}

.grid-stack-item-content {
    //border: 1px solid #bbbbbb !important;
    border-radius: 5px !important;
    background: #fff !important;
    padding: 0px;
    overflow-y: hidden !important;
}

.grid-stack-item {
    //border: 1px solid #bbbbbb !important;
    width: 100%!important;
}

#cScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

#cScroll::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}

#cScroll::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #bbbbbb4d;
}

.scrollbar {
    overflow-x: hidden !important;
}

.scrollbar:hover {
    overflow-y: scroll !important;
}