<h5 class="cardHeading">MOST CONNECTED</h5>
<ol class="people scrollbar" style="list-style: none;" id="cScroll">
    <li *ngFor="let person of people">
        <div class="row">
            <mat-card class="example-card mat-elevation-z0">
                <mat-card-header>
                    <figure id="profileTab">
                        <img alt="User Name" class="img-circle" src="assets/images/profile/profile.jpg">
                        <span>
                     <span class="name">
                     {{person.person_name}}
                     </span>
                        <span class="description">
                     {{person.person_description}}
                     </span>
                        <div class="link">
                            <a href="">&nbsp;contact
                        <i class="fa fa-external-link-alt"></i>
                        </a>
                        </div>
                        </span>
                    </figure>
                </mat-card-header>
            </mat-card>
        </div>
    </li>
</ol>